/* ナビバーここから */
.navbar-nav {
    margin: 0 auto;
    font-size: 14px;
}

.main-logo {
    margin-top: 10px;
}

header .navbar-nav li+li {
    border-left: solid 1px #cccccc;
    margin: 10px 0px;
}

.dropdown {
    padding-top: 10px;
}

.dropdown-menu {
    font-size: 14px;
}

/* ナビバーここまで */

.carousel-indicators > li {
    background-color: #FFFFFF;
}

.carousel-indicators > .active {
    background-color: #32cd32;
}


footer {
    border-top: solid 1px #cccccc;
    margin-top: 15px;
    font-size: 14px;
    
}

.footer ul {
    display: block;
    color: #000000;
    text-decoration: none;
}

.footer li {
    vertical-align: middle;
}

footer .nav > li > a {
    border-right: solid 1px #cccccc;
    margin-top: 10px;
}

footer .nav > li:last-child > a {
    border-right: none;
  }



form {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    color: #664433;
    border-bottom: solid 2px #dcd6d2;
    padding: 0 0 10px 20px;
    background-image: url(icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
}

.col-lg-3 li {
    font-size: 15px;
    margin: 10px 0;
    border-bottom: dashed 1px #cccccc;
    padding: 12px 20px 12px 15px;
    background-image: url(arrow.png);
    background-size: 6px 10px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.col-lg-3 a {
    text-decoration: none;
    color: #000000;
}

.col-4 a {
    margin: 10px 0;
    font-size: 14px;
}

.d-lg-none img {
    margin-right: 5px;
}

.col-lg-9 p {
    font-size: 14px;
    padding-top: 5px;
}

h3 {
    font-size: 16px;
    color: #664433;
}

.modal-backdrop+.modal-backdrop {
  opacity : 0;
}

@media (max-width: 576px) {
body {
    padding-top: 80px;
}
    
header .navbar-nav li+li {
    border-left: none;
}
}

@media (max-width: 767px) {
body {
    padding-top: 57px;
}

.col-md-6 {
    margin-top: 10px;
}

.main-logo {
    width: 120px;
    margin-top: 10px;
    height: auto;
}

.top-toggler-icon {
    margin-top: -40px;
}

footer .nav > li > a {
    border-right: none
 }
}

@media (min-width: 768px) {
    body {
        padding-top: 141px;
    }
  }


@media (max-width: 992px) {
 
}